!!! 5
html(lang="en")
  head
    title Example
    style.
      html,
      body {
        margin: 0;
        padding: 0;
      }

      div {
        margin: 5px;
      }
    link(rel="stylesheet", href="./build/build.css")
    script(src='./build/build.js')
  body
    .hor-pack
      for image in images
        img(
          src = 'http://i.imgur.com/' + image.hash + image.ext,
          data-width = image.width,
          data-height = image.height
        )
    script.
      var Pack = require('hor-pack')
      var pack = Pack(document.querySelector('.hor-pack'), {
        padding: 5
      })
      window.addEventListener('resize', function () {
        pack.reload()
      })