!!! 5
html(lang="en")
  head
    title Example
    link(rel="stylesheet", href="./public/style.css")
    script(src='./build/build.js')
  body
    .hor-pack
      for image in images
        img(
          src = 'http://i.imgur.com/' + image.hash + image.ext,
          data-width = image.width,
          data-height = image.height
        )
    script.
      var pack = require('hor-pack')(document.querySelector('.hor-pack'), {})
      window.addEventListener('resize', function () {
        pack.reload()
      })