html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#container {
  visibility: hidden;
}

#container > div {
  white-space: nowrap;
  overflow: hidden;
  max-height: 360px;
}

#container > div > img {
  display: inline-block;
  height: 100%;
}

/*

#container {
  margin: 10px;
}

#container > div + div {
  margin-top: 10px;
}

#container > div > img ~ img{
  margin-left: 10px;
}
*/