doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Horizontal Grid Packing Example
    style.
      html,
      body {
        margin: 0;
        padding: 0;
      }

      div {
        margin: 5px;
      }

      img {
        transition: all 0.3s linear;
      }
    link(rel="stylesheet", href="./build/build.css")
    script(src='./build/build.js')
  body
    .horizontal-grid-packing
      for image in images
        img(
          src = 'http://i.imgur.com/' + image.hash + 'l' + image.ext,
          data-width = image.width,
          data-height = image.height
        )

    script.
      var Pack = require('horizontal-grid-packing')
      var container = document.querySelector('.horizontal-grid-packing')
      var imagesHTML = container.innerHTML
      var pack = Pack(container, {
        height: height(),
        padding: 5
      })

      var raf = require('component-raf')
      var pending = false
      window.addEventListener('resize', function () {
        if (pending) return
        pending = true
        raf(reload)
      })

      function reload() {
        pack.width = container.clientWidth
        pack.height = height()
        pack.reload()
        pending = false
      }

      function append() {
        var frag = document.createElement('div')
        frag.innerHTML = imagesHTML
        pack.append(frag.children)
      }

      function height() {
        return Math.max(Math.round(window.outerHeight / Math.PI), 120)
      }