!!! 5
html(lang="en")
  head
    title Example
    style.
      html,
      body {
        margin: 0;
        padding: 0;
      }

      div {
        margin: 5px;
      }
    link(rel="stylesheet", href="./build/build.css")
    script(src='./build/build.js')
  body
    .horizontal-grid-packing
      for image in images
        img(
          src = 'http://i.imgur.com/' + image.hash + 'l' + image.ext,
          data-width = image.width,
          data-height = image.height
        )

    script.
      var Pack = require('horizontal-grid-packing')
      var container = document.querySelector('.horizontal-grid-packing')
      var imagesHTML = container.innerHTML
      var pack = Pack(container, {
        padding: 5
      })
      window.addEventListener('resize', function () {
        pack.width = container.clientWidth
        pack.height = Math.round(window.innerHeight / Math.PI)
        pack.reload()
      })
      function append() {
        var frag = document.createElement('div')
        frag.innerHTML = imagesHTML
        pack.append(frag.children)
      }