doctype html
html(lang="en")
  head
    title Example
    style.
      html,
      body {
        margin: 0;
        padding: 0;
      }

      div {
        margin: 5px;
      }
    link(rel="stylesheet", href="./build/build.css")
    script(src='./build/build.js')
  body
    .horizontal-grid-packing
      for image in images
        img(
          src = 'http://i.imgur.com/' + image.hash + 'l' + image.ext,
          data-width = image.width,
          data-height = image.height
        )

    style.
      img {
        transition: all 0.3s linear;
      }
    script.
      var Pack = require('horizontal-grid-packing')
      var container = document.querySelector('.horizontal-grid-packing')
      var imagesHTML = container.innerHTML
      var pack = Pack(container, {
        padding: 5
      })

      var raf = require('component-raf')
      var pending = false
      window.addEventListener('resize', function queue() {
        if (pending) return
        pending = true
        raf(function () {
          pack.width = container.clientWidth
          pack.height = Math.max(Math.round(window.outerHeight / Math.PI), 120)
          pack.reload()
          pending = false
        })
      })

      function append() {
        var frag = document.createElement('div')
        frag.innerHTML = imagesHTML
        pack.append(frag.children)
      }